*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #97caef7a !important;
}

/* design of header and navigation(menu) */
header{
  background-image: linear-gradient( to top, rgba(42, 81, 165, 0), rgba(33, 116, 194, 0.13)),url(../images/login.png);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  background-color: rgba(14, 45, 66);
  position: fixed !important;
  z-index: 1;
}
  
a.b-name {
  font-family: "Lora", serif;
}
  
.b-name {
  font-size: 35px !important;
  padding: 0px !important;
  text-align: center !important;
  font-weight: bolder !important;
  color: white !important;
}

.active {
  color: white !important;
  border-bottom: 2px solid white !important;
}
  
.nav-option ul li {
  font-size: 20px;
  font-weight: 500;
  margin-left: 25px;
}

.nav-option ul li a:hover {
  color: white;
  border-bottom: 2px solid white;
}

.nav-option ul li button:hover {
  color: white;
  border-bottom: 2px solid white;
}
.dropdown ul li a {
  padding: 0px !important;
}
  
.dropdown ul li a:hover {
  /* color: black; */
  border-bottom: 0px;
  background-color: #0d6efd;
}


.a-tag h1{
    text-align: center;
    font-size: 80px;
    margin-top: 200px;
    color: white;
    font-family: lora, serif;
    font-style: italic;
  }
  
  .a-tag p{
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    color: white;
    font-weight: bold;
  }

/* BLOG BODY */
.blog{
    padding-top: 50px;
    padding-bottom: 50px;
}

.blog h2{
    font-family: lora,serif !important;
    font-style: italic;
    border-bottom: 1px solid grey;
}

.goa img{
    /* border: 1px solid red; */
    padding-left: 55px;
}

.manali img{
    padding-left: 55px;
}

.forest img{
    padding-left: 55px;
}

.blog p{
    font-family: lora, serif;
    font-style: oblique;
    color: #707079;
}

.i1{
    width: 50%;
    height: 300px;
}

.i2{
    width: 39%; 
    height: 250px;
}

.i3{
    width: 39%;
    height: 250px;
}

.i4{
    width: 50%;
    /* padding-top: 10px; */
    height: 300px;
}

/* SHARE SECTION */
.share{
  padding-bottom: 60px;
}

.share div{
  display: block;
}

.share-detail{
  border-top: 1px solid grey;
  padding: 20px;
}

.tags {
  float: left;
}

.tags a{
  margin-left: 10px;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  background: #ebebeb;
  color: #707079;
  font-weight: 500;
}

.tags a:hover{
  background-color: #dfa974;
  color: white;
}

.share-icon{
  float: right;
}

.share-icon a{
  text-decoration: none;
  margin-left: 40px;
}

.share-icon a i{
  color:  #707079;
}

/* COMMENT SECTION  */
.comment{
  padding-bottom: 50px;
}

.comment-detail input{
  width: 100%;
  height: 40px; 
  padding-left: 20px; 
  margin-top: 20px;
  border: 1px solid rgba(128, 128, 128, 0.651);
}

.comment-detail select{
  width: 100%;
  height: 40px; 
  padding-left: 20px; 
  border: 1px solid rgba(128, 128, 128, 0.651);
  color: #707079;
  background-color: white;
}

.comment-detail textarea{
  width: 100%;
  height: 120px;  
  padding-left: 20px;
  padding-top: 20px;
  border: 1px solid rgba(128, 128, 128, 0.651);
  resize: none;
  border-radius: 3px;
}

.comment-detail button{
  width: 20%;
  height: 40px;
  border: none;
  background: #dfa974;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  border-radius: 2px;
}

/* MODAL SECTION OF WEBPAGE */

.modal-body input{
  padding-left: 20px;
  width: 70%;
  height: 40px;
  display: block;
}

.modal-body label{
  color: black;
  font-weight: 500;
}

/* FOOTER SECTION */

  .footer {
  /* border: 1px solid black;  */
  padding-top: 100px;
  padding-bottom: 20px;
  background-color: #222736;
}

.f1 h4 {
  color: white;
  font-size: 25px;
  font-family: lora, sans-serif;
  font-style: italic;
  line-height: 3;
}

.f1 p {
  color: rgba(255, 255, 255, 0.514);
  font-style: oblique;
  font-family: serif;
  font-size: 18px;
  line-height: 2;
}

.f1 p  a i {
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #3b3837;
  border-radius: 50%;
  margin-right: 7px;
}

.f1 p a{
  text-decoration: none;
}

.f1 p a i:hover {
  background-color: #dfa974;
}

.f2 h6 {
  text-transform: uppercase;
  color: #dfa974;
  text-align: center;
}

.f2 p{
  color: white;
  margin-top: 20px;
  line-height: 2;
  padding-left: 80px;
}

.f3 h6 {
  text-transform: uppercase;
  color: #dfa974;
  text-align: center;
}

.f3 p{
  color: white;
  margin-top: 20px;
  line-height: 2;
  padding-left: 80px;
}
.f3 input{
  width: 70%;
    height: 43px;
    border-radius: 2px;
    background: #393D4A;
    border: none;
    padding-left: 20px;
    font-size: 16px;
    color: #707079; 
    margin-left: 40px;
}

.f3 button{
  background-color: #dfa974;
}

/* DECLARATION OF WEBSITE */

.footer-declare{
  background-color: #393D4A;
}

.declare-text p{
  font-size: 20px;
  color: white;
}