*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #97caef7a !important;
}

/* design of header and navigation(menu) */
header{
  background-image: linear-gradient( to top, rgba(42, 81, 165, 0.205), rgba(33, 116, 194, 0.253)),url(../images/room-background.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  background-color: rgba(14, 45, 66);
  position: fixed !important;
  z-index: 1;
}
  
a.b-name {
  font-family: "Lora", serif;
}
  
.b-name {
  font-size: 35px !important;
  padding: 0px !important;
  text-align: center !important;
  font-weight: bolder !important;
  color: white !important;
}

.active {
  color: white !important;
  border-bottom: 2px solid white !important;
}
  
.nav-option {
  /* border: 1px solid green; */
  justify-content: center;
}
  
.nav-option ul li {
  font-size: 20px;
  font-weight: 500;
  margin-left: 25px;
}

.nav-option ul li a:hover {
  color: white;
  border-bottom: 2px solid white;
}

.nav-option ul li button:hover {
  color: white;
  border-bottom: 2px solid white;
}
.dropdown ul li a {
  padding: 0px !important;
}
  
.dropdown ul li a:hover {
  /* color: black; */
  border-bottom: 0px;
  background-color: #0d6efd;
}

.a-tag h1{
  text-align: center;
  font-size: 80px;
  margin-top: 200px;
  color: white;
  font-family: lora, serif;
  font-style: italic;
}

.a-tag p{
  text-align: center;
  font-size: 40px;
  margin-top: 40px;
  color: white;
  font-weight: bold;
}

/* room design part */
.room{
  padding-top: 50px;
  padding-bottom: 50px;
}

.room1,.room2,.room3,.room4,.room5,.room6,.room7,.room8 {
  border: none;
  height: 500px !important;
  /* margin: 0px !important; */
  border-radius: 0px !important;
  background-repeat: no-repeat;
  background-size: cover;
  /* color: white; */
  margin-top: 20px;
  /* padding: 20px;  */
}

.room1,.room2,.room3,.room4 p strong{
  color: white;
}
  
.room-body h2 {
  font-size: 40px;
  font-family: "Lora", serif;
  color: white;
  text-align: center;
  /* border-bottom: 3px solid black; */
}
  
.room1 {
  background-image: linear-gradient(to top,rgba(24, 32, 41, 0.322),rgba(24, 32, 65, 0.527)),url(../images/room-b1.jpg);
  font-size: 20px;
}
  
.room2 {
  background-image: url(../images/room-b2.jpg);
  font-size: 20px;
}
  
.room3 {
  background-image: url(../images/room-b3.jpg);
  font-size: 20px;
}
  
.room4 {
  background-image: linear-gradient(to top,rgba(24, 32, 41, 0.322),rgba(24, 32, 65, 0.527)),url(../images/room-b4.jpg);
  font-size: 20px;
}

  .room5{
    background-image: linear-gradient(to top,rgba(24, 32, 41, 0.322),rgba(24, 32, 65, 0.527)),url(../images/room5.avif);
    font-size: 20px;
}
  
.room6{
  background-image: linear-gradient(to top,rgba(24, 32, 41, 0.322),rgba(24, 32, 65, 0.527)),url(../images/room6.jpg);
  font-size: 20px;
}

.room7{
  background-image: linear-gradient(to top,rgba(24, 32, 41, 0.322),rgba(24, 32, 65, 0.527)),url(../images/room7.webp);
  font-size: 20px;
}

.room8{
  background-image: linear-gradient(to top,rgba(24, 32, 41, 0.322),rgba(24, 32, 65, 0.527)),url(../images/room8.jpg);
  font-size: 20px;
}

.room-body {
  /* border: 1px solid red; */
  /* margin-top: 480px; */
  overflow: hidden;
}

.room-body table tr {
  /* padding: 10px; */
  margin-top: 30px;
  color: white;
}

/* PAGINATION PART */
.p-next_p-prev nav{
  background-color: transparent !important  ;
}

.p-next_p-prev nav ul li{
  margin-left: 10px;
}
  /* VIDEO SECTION */
.video{
  padding-bottom: 50px;
}

/* MODAL SECTION OF WEBPAGE */

.modal-body input{
  padding-left: 20px;
  width: 70%;
  height: 40px;
  display: block;
}

.modal-body label{
  color: black;
  font-weight: 500;
}

/* FOOTER SECTION */

  .footer {
  /* border: 1px solid black;  */
  padding-top: 100px;
  padding-bottom: 20px;
  background-color: #222736;
}

.f1 h4 {
  color: white;
  font-size: 25px;
  font-family: lora, sans-serif;
  font-style: italic;
  line-height: 3;
}

.f1 p {
  color: rgba(255, 255, 255, 0.514);
  font-style: oblique;
  font-family: serif;
  font-size: 18px;
  line-height: 2;
}

.f1 p  a i {
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #3b3837;
  border-radius: 50%;
  margin-right: 7px;
}

.f1 p a{
  text-decoration: none;
}

.f1 p a i:hover {
  background-color: #dfa974;
}

.f2 h6 {
  text-transform: uppercase;
  color: #dfa974;
  text-align: center;
}

.f2 p{
  color: white;
  margin-top: 20px;
  line-height: 2;
  padding-left: 80px;
}

.f3 h6 {
  text-transform: uppercase;
  color: #dfa974;
  text-align: center;
}

.f3 p{
  color: white;
  margin-top: 20px;
  line-height: 2;
  padding-left: 80px;
}
.f3 input{
  width: 70%;
    height: 43px;
    border-radius: 2px;
    background: #393D4A;
    border: none;
    padding-left: 20px;
    font-size: 16px;
    color: #707079; 
    margin-left: 40px;
}

.f3 button{
  background-color: #dfa974;
}

/* DECLARATION OF WEBSITE */

.footer-declare{
  background-color: #393D4A;
}

.declare-text p{
  font-size: 20px;
  padding: 20px;
  color: white;
  text-align: center; 
  /* display: inline-block; */
}